body {
	background-color: #808080;
	font-family: 'Asap', sans-serif;
}

h1 {
	font-size: 500%;
}


#final-score-screen > h1 {
	font-size: 400%;
	margin-top: 160px;
	margin-bottom: 33px;
	text-align: center;
}

#right-answer {
	font-family: 'Asap', sans-serif;
	background-color: green;
	color: #fff;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 33px;
}

#wrong-answer {
	font-family: 'Asap', sans-serif;
	background-color: red;
	color: #fff;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 25px;
}

#answer-content, #final-score-content > h3 {
	height: 60px;
	width: 100%;
	text-align: center;
}

h2 {
	color: #fff;
	text-align: center;
}

h3 {
	margin: 0;
	padding-left: 1px;
	padding-right: 1px;
}

#final-score-screen > h2 {
	background-color: blue;
	color: #fff;
	font-size: 300%;
}

img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}


#intro {
	margin: 0 auto;
	position: relative;
	height: 750px;
	width: 900px;
	text-align: center;
}

#intro-content {
	color: #fff;
	font-family: 'Asap', sans-serif;
	font-size: 250%;
	height: 250px;
	width: 100%;
	margin-top: 220px;
}

#start-button {
	background: transparent;
	box-shadow: 3px 3px 5px;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	font-family: 'Asap', sans-serif;
	font-size: 24px;
	height: 45px;
	width: 120px;
	transition: background 1s, color 1s;
}

#start-button:hover {
	color: #000000;
	background-color: #ffffff;
}

.next-button, .start-over-button {
	background: transparent;
	box-shadow: 3px 3px 5px;
	border-radius: 6px;
	color: #000;
	cursor: pointer;
	font-family: 'Asap', sans-serif;
	font-size: 22px;
	height: 45px;
	width: 140px;
	transition: background 1s, color 1s;
}

.next-button:hover {
	color: #fff;
	background-color: #0000ff;
}

.start-over-button:hover {
	color: #fff;
	background-color: #ffa500;
}

.header {
	height: 64px;
	width: 100%;
	margin: 0;
}

#header {
	background-color: blue;
	color: #fff;
	height: 70px;
	width: 100%;
	text-align: center;
}

#header::before {
	clear: both;
}

#question-number {
	font-family: 'Asap', sans-serif;
	font-size: 250%;
	margin: 0;
	padding-top: 10px;
}

.game-section-left {
	float: left;
	height: 450px;
	width: 350px;
}

.game-section-right {
	float: right;
	height: 450px;
	width: 450px;
}

.game-main, #answer-screen, #final-score-screen {
	background-color: #fff;
	border: 1px solid #000000;
	position: relative;
	height: 592px;
	width: 900px;
	margin: 0 auto;
}

#game-graphics {
	position: relative;
	margin: 0 auto;
	height: 300px;
	width: 349px;
	margin-top: 80px;
}

.game-content {
	
}

#game-questions {
	font-family: 'Asap', sans-serif;
	font-size: 150%;
	position: relative;
	height: 100px;
	width: 100%;
	text-align: center;
}

#game-questions > p {

}

.answer-choices {
	background: transparent;
	border-radius: 6px;
	font-family: 'Asap', sans-serif;
	font-size: 120%;
	height: 50px;
	width: 100%;
	text-align: left;
}

.game-answers {
	font-family: 'Asap', sans-serif;
	font-size: 100%;
	position: relative;
	height: 200px;
	width: 100%;
}

.game-answers > button:first-child {
	margin-bottom: 0px;
}

.game-answers > button {
	margin: 0;
}

.game-answers > button:hover {
	background-color: blue;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
}

.score-content {
	background-color: blue;
	color: #fff;
	clear: both;
	font-family: 'Asap', sans-serif;
	height: 70px;
	width: 100%;
}

#score-tracker {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

#score-tracker > p {
	margin: 0;
	padding-top: 17px;
}

#scoreValue {

}

#navigator {
	text-align: center;
}

#next-question, #start-over {
	text-align: center;
	width: 100%
}

#hidden-answer {
	height: 40px;
	width: 100%;
	text-align: center;
	visibility: visible;
}

